In [49]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Ejercicio Uno

In [52]:
## Importar los csv airportList.csv y airportsLocation.csv
df_list=spark.read.csv("EjercicioSpark/airportList.csv",inferSchema=True, header=True)
df_loc=spark.read.csv("EjercicioSpark/airportsLocation.csv",inferSchema=True, header=True)
print("El primer DataFrame tiene",df_list.count(),"filas")
print("El segundo DataFrame tiene",df_loc.count(),"filas")

El primer DataFrame tiene 8107 filas
El segundo DataFrame tiene 8107 filas

In [53]:
#Eliminar filas con datos faltantes
df_list=df_list.dropna()
df_loc=df_loc.dropna()
print("El primer DataFrame sin datos faltantes tiene",df_list.count(),"filas")
print("El segundo DataFrame sin datos faltantes tiene",df_loc.count(),"filas")

El primer DataFrame sin datos faltantes tiene 5880 filas
El segundo DataFrame sin datos faltantes tiene 5880 filas

In [54]:
#Hacer Inner Join 
df_inner=df1.join(df2, df1["airport_code"]==df2["airport_code"]).drop(df2.airport_code)
df_inner.printSchema()

root
 |-- airport_id: integer (nullable = true)
 |-- airport_name: string (nullable = true)
 |-- city_airport_location: string (nullable = true)
 |-- country: string (nullable = true)
 |-- airport_code: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- altitude: integer (nullable = true)
 |-- timezone: double (nullable = true)
 |-- dst: string (nullable = true)
 |-- olson_timezone: string (nullable = true)

In [56]:
#Quitar columnas Innecesarias y ver esquema de datos
df_inner=df_inner.drop("olson_timezone","dst","timezone")
df_inner.printSchema()

root
 |-- airport_id: integer (nullable = true)
 |-- airport_name: string (nullable = true)
 |-- city_airport_location: string (nullable = true)
 |-- country: string (nullable = true)
 |-- airport_code: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- altitude: integer (nullable = true)

In [57]:
#Consulta de datos sobre latitud igual o mayor a 40
print("Posiblemente hay",df_inner.count(),"aeropuertos corruptos.","\nCon la siguiente informacion:")
df_inner.filter(df_inner.latitude>=40).show()

Posiblemente hay 5884 aeropuertos corruptos.
Con la siguiente informacion:
+----------+--------------------+---------------------+---------+------------+---------+----------+--------+
|airport_id|        airport_name|city_airport_location|  country|airport_code| latitude| longitude|altitude|
+----------+--------------------+---------------------+---------+------------+---------+----------+--------+
|         7|          Narsarsuaq|         Narssarssuaq|Greenland|         UAK|61.160517|-45.425978|     112|
|         8|                Nuuk|             Godthaab|Greenland|         GOH|64.190922|-51.678064|     283|
|         9|   Sondre Stromfjord|          Sondrestrom|Greenland|         SFJ|67.016969|-50.689325|     165|
|        10|      Thule Air Base|                Thule|Greenland|         THU|76.531203|-68.703161|     251|
|        11|            Akureyri|             Akureyri|  Iceland|         AEY|65.659994|-18.072703|       6|
|        12|         Egilsstadir|          Egilsstadir|  Iceland|         EGS|65.283333|-14.401389|      76|
|        13|        Hornafjordur|                 Hofn|  Iceland|         HFN|64.295556|-15.227222|      24|
|        14|             Husavik|              Husavik|  Iceland|         HZK|65.952328|-17.425978|      48|
|        15|          Isafjordur|           Isafjordur|  Iceland|         IFJ|66.058056|-23.135278|       8|
|        16|Keflavik Internat...|             Keflavik|  Iceland|         KEF|   63.985|-22.605556|     171|
|        17|      Patreksfjordur|       Patreksfjordur|  Iceland|         PFJ|65.555833|   -23.965|      11|
|        18|           Reykjavik|            Reykjavik|  Iceland|         RKV|    64.13|-21.940556|      48|
|        19|        Siglufjordur|         Siglufjordur|  Iceland|         SIJ|66.133333|-18.916667|      10|
|        20|      Vestmannaeyjar|       Vestmannaeyjar|  Iceland|         VEY|63.424303|-20.278875|     326|
|        21|     Sault Ste Marie|   Sault Sainte Marie|   Canada|         YAM|46.485001|-84.509445|     630|
|        22| Winnipeg St Andrews|             Winnipeg|   Canada|         YAV|50.056389|  -97.0325|     760|
|        23|          Shearwater|              Halifax|   Canada|         YAW|44.639721|-63.499444|     167|
|        24|          St Anthony|          St. Anthony|   Canada|         YAY|51.391944|-56.083056|     108|
|        25|              Tofino|               Tofino|   Canada|         YAZ|49.082222| -125.7725|      80|
|        26|            Kugaaruk|            Pelly Bay|   Canada|         YBB|68.534444|-89.808056|      56|
+----------+--------------------+---------------------+---------+------------+---------+----------+--------+
only showing top 20 rows

Ejercicio Dos

In [60]:
#Crear una tabla temporal del dataframe df_list para poder hacer consultas SQL usando Spark
#Despues hacer un conteo de registros y finalmente imprimir los registros
df_list.createOrReplaceTempView("t")
c=spark.sql("  select * from t where (country=='Mexico') or (country=='Brazil') or (country=='United States')  "
          "  or (country=='Canada') or (country=='Japan') or (mod(airport_id,2)=1)  ").count()
print("En",c,"aeropuertos pueden existir atentados.","\nLa informacion es la siguiente:")

spark.sql("  select * from t where (country=='Mexico') or (country=='Brazil') or (country=='United States')  "
          "  or (country=='Canada') or (country=='Japan') or (mod(airport_id,2)=1)  ").show()

En 3987 aeropuertos pueden existir atentados.
La informacion es la siguiente:
+----------+--------------------+---------------------+----------------+------------+
|airport_id|        airport_name|city_airport_location|         country|airport_code|
+----------+--------------------+---------------------+----------------+------------+
|         1|              Goroka|               Goroka|Papua New Guinea|         GKA|
|         3|         Mount Hagen|          Mount Hagen|Papua New Guinea|         HGU|
|         5|Port Moresby Jack...|         Port Moresby|Papua New Guinea|         POM|
|         7|          Narsarsuaq|         Narssarssuaq|       Greenland|         UAK|
|         9|   Sondre Stromfjord|          Sondrestrom|       Greenland|         SFJ|
|        11|            Akureyri|             Akureyri|         Iceland|         AEY|
|        13|        Hornafjordur|                 Hofn|         Iceland|         HFN|
|        15|          Isafjordur|           Isafjordur|         Iceland|         IFJ|
|        17|      Patreksfjordur|       Patreksfjordur|         Iceland|         PFJ|
|        19|        Siglufjordur|         Siglufjordur|         Iceland|         SIJ|
|        21|     Sault Ste Marie|   Sault Sainte Marie|          Canada|         YAM|
|        22| Winnipeg St Andrews|             Winnipeg|          Canada|         YAV|
|        23|          Shearwater|              Halifax|          Canada|         YAW|
|        24|          St Anthony|          St. Anthony|          Canada|         YAY|
|        25|              Tofino|               Tofino|          Canada|         YAZ|
|        26|            Kugaaruk|            Pelly Bay|          Canada|         YBB|
|        27|         Baie Comeau|          Baie Comeau|          Canada|         YBC|
|        28|          Bagotville|           Bagotville|          Canada|         YBG|
|        29|          Baker Lake|           Baker Lake|          Canada|         YBK|
|        30|      Campbell River|       Campbell River|          Canada|         YBL|
+----------+--------------------+---------------------+----------------+------------+
only showing top 20 rows